<div>
    <label class='form-label'>Description</label>
    <input type='text' classs='form-control' name=''>
</div>
<div>
    <label class='form-label'>Release Year</label>
    <input type='text' classs='form-control'>
</div>

